<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <h2 class="mx-4 text-center">Exercice 1</h2>
            <app-warning></app-warning>
            <app-success></app-success>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6">
            <h2 class="mx-4 text-center">Exercice 2</h2>
            <app-exercice2></app-exercice2>
            
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6">
            <h2 class="mx-4 text-center">Exercice 3</h2>
            <app-exercice3></app-exercice3>
        </div>
    </div>
</div>





