<div class="container" >
    <div class="row justify-center">

        <div class="card col-12 col-lg-6 my-3 " *ngFor="let i of item" >
            <div class="row" >
                <div class="col">
                    <img class="card-img-top" src="https://scontent-frt3-2.xx.fbcdn.net/v/t31.18172-8/19703046_120776235202119_7043242849915532517_o.jpg?_nc_cat=103&ccb=1-6&_nc_sid=a4a2d7&_nc_ohc=Z8h7rKmcFGEAX_j_KBq&tn=5khFFm7BmFwfxU7s&_nc_ht=scontent-frt3-2.xx&oh=00_AT-g2HWG3T4_3J4o7Qzgos9sKgADs_nrEed1OKSpxypW-A&oe=629F68D8" alt="Card image cap">
                </div>
                <div class="col">
                    <div class="card-body">
                        <h5 class="card-title pb-5">{{i.Title}}</h5>
                        <div class="row pb-3">
                            <div class="col-6">
                                <p class="price"> {{i.Year}} &euro;</p>   
                            </div>
                            <div class="col-6">
                                <p class="price"> 6 bouteilles</p>
                            </div>
                        </div>
                        <p class="card-text">Bière de froment, 4.5% Vol, légère avec des parfums d'agrumes. Couleur 5 EBC, amertume 18 IBU. Ingrédients : eau de Source du Mont St Rigaud, Sucre, houblon Citra et El Dorado, Malte d'orge.</p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </div>            
        </div> 

        <div class="card col-12 col-lg-6 my-3 " >
            <div class="row">
                <div class="col">
                    <img class="card-img-top" src="https://scontent-frt3-2.xx.fbcdn.net/v/t31.18172-8/19703046_120776235202119_7043242849915532517_o.jpg?_nc_cat=103&ccb=1-6&_nc_sid=a4a2d7&_nc_ohc=Z8h7rKmcFGEAX_j_KBq&tn=5khFFm7BmFwfxU7s&_nc_ht=scontent-frt3-2.xx&oh=00_AT-g2HWG3T4_3J4o7Qzgos9sKgADs_nrEed1OKSpxypW-A&oe=629F68D8" alt="Card image cap">
                </div>
                <div class="col">
                    <div class="card-body">
                        <h5 class="card-title pb-5">TITLE</h5>
                        <div class="row pb-3">
                            <div class="col-6">
                                <p class="price"> PRIX &euro;</p>   
                            </div>
                            <div class="col-6">
                                <p class="price"> 6 bouteilles</p>
                            </div>
                        </div>
                        <p class="card-text">Bière de froment, 4.5% Vol, légère avec des parfums d'agrumes. Couleur 5 EBC, amertume 18 IBU. Ingrédients : eau de Source du Mont St Rigaud, Sucre, houblon Citra et El Dorado, Malte d'orge.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>            
        </div> 

    </div>
    
</div>