@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.card img {
    object-fit: cover;
}

h5 {
    font-family: 'Montserrat', sans-serif ;
    font-size: 3rem;
   font-weight: 700;
}

.price {
    font-size: 1rem;
    text-align: justify;
}

p {
    font-size: 1.1rem;   
}


